<!-- _includes/partials/navigation.html -->
<nav role="navigation" class="topnav">
    <ul class="nav-links">
    <!-- USING CHECKBOX HACK -->
    <input type="checkbox" id="checkbox-toggle">
    <label for="checkbox-toggle" class="hamburger">&#9776; MENU</label>
    <div class="menu">
    <li class="menu-items"><a href="/" aria-label="Go to Home page">Home</a></li>
    <li class="menu-items"><a href="/about" aria-label="Go to About Me page">About</a></li>
    <li class="menu-items"><a href="/reviews" aria-label="Go to list of Book Reviews">Reviews</a></li>
    <li class="menu-items"><a href="/policies" aria-label="Go to Policies page">Policies</a></li>
    </div>
    </ul>
</nav>